// flex

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin grid($columns, $width : 1fr){
    display: grid;
    grid-template-columns: repeat($columns, $width);
}