.header {
    height: 97px;
    padding-top: 39px;
    background-color: var(--theme-color2);
}

.header__content {
    @include mixins.flex;
    justify-content: space-between;
    width: 77%;
    margin: 0px auto;
}

.layout__mobile {
    @include mixins.flex;
    gap: 42px;
}
