.header {
    height: 97px;
    width: 100%;
    padding-top: 39px;
    background-color: var(--theme-color2);
}


.header--grid{
    @include mixins.grid(3);
    justify-items: center;
}

.header--flex {
    @include mixins.flex;
    justify-content: space-between;
}

.header--mobile {
    @include mixins.flex;
    gap: 42px;
}
