
.c-footer {
    height: 365px;

    @include mixins.media-query(tablet){
        height: 400px;
    }

    @include mixins.media-query(mobile){
        height: 654px;
    }
}

.c-footer--primary {
    color: var(--theme-color1);
    background-color: var(--theme-color2);
}

.c-footer__tab {
    height: 4px;
    width: var(--content-width);
    margin-bottom: 74px;

    @include mixins.media-query('tablet'){
        margin-bottom: 56px;
    }

    @include mixins.media-query('mobile'){
        margin-bottom: 48px;
    }
}

.c-footer__tab--orange {
    width: 101px;
    height: 100%;
    background-color: var(--theme-color3);
}

.c-footer__content {
    width: var(--content-width);

    & img[alt="Audiophile Logo"] {
        @include mixins.media-query(desktop){
            margin-bottom: 36px;
        }
    
        @include mixins.media-query(tablet){
            margin-bottom: 32px;
        }
    
        @include mixins.media-query(mobile){
            margin-bottom: 0px;
        }
    }

    & nav {
        justify-self: end;
        align-self: start;

        @include mixins.media-query(tablet){
            margin-bottom: 32px;
        }
    
        @include mixins.media-query(mobile){
            margin-bottom: 0px;
        }


        @include mixins.media-query(tablet){
            justify-self: start;
        }

        @include mixins.media-query(mobile){
            justify-self: center;
        }
    }

    & p {
        @include mixins.media-query(mobile){
            height: 150px;
        }
    }

    > div {
        @include mixins.media-query(desktop){
            margin-top: 56px;
        }
    
        @include mixins.media-query(tablet){
            margin-top: 80px;
        }
    
        @include mixins.media-query(mobile){
            margin-top: 0px;
        }
    }
}

.l-grid {
    display: grid;
    grid-template-columns: 575px 1fr;
    min-width: fit-content;
    align-items: start;

    @include mixins.media-query(tablet){
        grid-template-columns: var(--content-width);
        min-width: fit-content;
        min-height: fit-content;
    }

    @include mixins.media-query(mobile){
        text-align: center;
        grid-template-columns: var(--content-width);
        justify-items: center;
        gap: 48px;
    }
}

.l-grid__item--social-links {
    align-self: end;
    justify-self: end;

    @include mixins.media-query(mobile){
        justify-self: center;
        align-self: center;
    }
}

.l-grid__item--tab {
    align-self: start;

    @include mixins.media-query(desktop){
        grid-column: 1/3;
    }
}


.l-flex--footer {
    @include mixins.flex-column;
    justify-content: start;
    align-items: center;
}

.l-flex--social-links {
    @include mixins.flex;
    gap: 16px;
}

.l-flex--mobile {
    @include mixins.flex;
    justify-content: space-between;
}

.l-flex--tab {
    @include mixins.flex;
    justify-content: start;

    @include mixins.media-query(mobile){
        justify-content: center;
    }
}
